{
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "proseWrap": "always",
  "singleQuote": true,

  "jsxSingleQuote": false,
  "jsxBracketSameLine": false
}
